.card-display {
  background-color: $card-hover-bkgrd;
  border: 1px solid $box-border;
  border-radius: 4px;
  cursor: pointer;
  width: 250px;
  height: 300px;
  margin: 10px;
  padding: 25px 5px 0px 5px;
  &:hover {
    box-shadow: 5px 5px 5px $box-shadow;
  }
}

.card-layout {
  display: flex;
  flex-direction: column;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.details {
  font-family: $primary-font;
  line-height: 0;
}

.name {
  font-family: $animal-name-font;
  font-size: 28px;
  line-height: 24px;
  text-align: center;
}
