.card-display {
  background-color: $card-color;
  box-shadow: 5px 5px 5px $box-shadow;
  border-radius: 4px;
  color: $secondary-color;
  letter-spacing: 1px;
  cursor: pointer;
  width: 250px;
  height: 360px;
  margin: 29px;
  padding: 5px 0px 5px 0px;
  transition: 0.3s;
  &:hover {
    background-color: $card-hover-bkgrd;
    color: $hover-text;
  }
}

.card-layout {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.details {
  font-family: $primary-font;
  line-height: 0;
}

.name {
  font-family: $animal-name-font;
  font-size: 28px;
  text-align: center;
}

img {
  height: 185px;
  margin: 5px;
  width: 210px;
}