.modal {
  box-shadow: 8px 8px 8px 8px $modal-shadow;
  border-radius: 6px;
  display: flex;
  font-family: $primary-font;
  z-index: 2;
  background-color: $modal-bkgrd;
  width: 500px;
  height: 700px;
  padding: 10px;
  flex-direction: column;
  position: absolute;
  margin-top: -1150px;
  margin-left: 1000px;
}

.details-name {
  color: $modal-name-color;
  font-family: $animal-name-font;
  font-size: 24px;
  letter-spacing: 3px;
  margin: 1px;
  text-align: center;
}

.species-descr,
.location,
.email,
.status, .org_id {
  color: $detail-text;
}

.details-photo {
  height: 225px;
  width: 250px;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.go-back {
  text-align: center;
  color: $back-link;
  margin-left: 350px;
}