.header-wrapper {
  border-radius: 3px;
  box-shadow: 5px 5px 5px black;
  background-color: $header-bkgrd;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px 0px 10px;
}

.fas {
  color: $logo-color;
  font-size: 45px;
}

.main-title {
  color: $primary-color;
  font-family: $header-font;
  font-size: 40px;
  margin-top: 5px;
}
