@import url('https://fonts.googleapis.com/css?family=Delius+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mandali&display=swap');

//fonts

$header-font: 'Delius Swash Caps', cursive;
$primary-font: 'Mandali', sans-serif;

//colors

$primary-color: hsl(240, 75%, 60%);