@import url("https://fonts.googleapis.com/css?family=Delius+Swash+Caps&display=swap");
@import url("https://fonts.googleapis.com/css?family=Mandali&display=swap");
@import url("https://fonts.googleapis.com/css?family=The+Girl+Next+Door&display=swap");

//fonts

$header-font: "Delius Swash Caps", cursive;
$primary-font: "Mandali", sans-serif;
$animal-name-font: "The Girl Next Door", cursive;

//colors

$primary-color: hsl(280, 4%, 67%);
$secondary-color: hsl(141, 16%, 17%);
$logo-color: hsl(281, 77%, 29%);
$box-shadow: hsl(0, 18%, 18%);
$card-hover-bkgrd: hsl(129, 11%, 34%);
$detail-text: hsl(0, 0%, 100%);
$back-link: hsl(143, 55%, 73%);
$card-color: hsl(0, 0%, 100%);
$modal-name-color: hsl(137, 86%, 9%);
$hover-text: hsl(114, 21%, 91%);
$modal-bkgrd: hsl(140, 1%, 54%);
$modal-shadow: hsl(0, 10%, 12%);