@import url('https://fonts.googleapis.com/css?family=Delius+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mandali&display=swap');
@import url('https://fonts.googleapis.com/css?family=The+Girl+Next+Door&display=swap');

//fonts

$header-font: 'Delius Swash Caps', cursive;
$primary-font: 'Mandali', sans-serif;
$animal-name-font: 'The Girl Next Door', cursive;

//colors

$primary-color: hsl(281, 77%, 29%);
$secondary-color: hsl(0, 0%, 0%);
$logo-color: hsl(300, 100%, 25%);
$box-shadow: hsl(0, 18%, 18%);
$box-border: hsl(300, 100%, 25%);
$card-hover-bkgrd: hsl(240, 35%, 81%);
$header-border: hsl(300, 100%, 25%);
$detail-text: hsl(0, 0%, 100%);
$back-link: hsl(185, 68%, 48%);